/* Styling untuk menyembunyikan panah default di input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Styling kustom untuk quantity selector */
.quantity-selector button {
    width: 32px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.quantity-selector input {
    width: 40px;
    text-align: center;
    font-weight: bold;
}

/* --- Styling untuk Accordion --- */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0 1.5rem; /* 0 padding vertikal, padding horizontal sama dengan header */
}

/* Saat accordion terbuka */
.accordion-item.is-open .accordion-content {
    max-height: 2000px; /* Nilai besar untuk mengakomodasi konten */
    padding: 1rem 1.5rem 1.5rem; /* Menambah padding vertikal */
}

.accordion-toggle .accordion-icon {
    transition: transform 0.3s ease-out;
}

/* Saat accordion terbuka, ikon berputar */
.accordion-item.is-open .accordion-icon {
    transform: rotate(180deg);
}


/* Animasi untuk order summary */
#order-summary.visible {
    transform: translateY(0);
}
